.about {
  display: flex;
  gap: 5rem;
  max-width: 2300px;

  .about__bio {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
  }

  img {
    flex: 1;
    max-width: 60rem;
  }
}
