.contact {
  display: flex;
  justify-content: flex-end;

  .contact__content {
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .contact {
    .contact__content {
      max-width: 21rem;
      gap: 1rem;
    }
  }
}
@media (max-width: 600px) {
  .contact {
    .contact__content {
      max-width: 12rem;
      gap: 1rem;
    }
  }
}
