@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}
.anchor {
  scroll-margin-top: 5rem;
}
body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100dvh;
}

a {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

a:hover {
  color: #c12a15;
}

a.active {
  font-weight: 600;
  text-decoration: underline;
}

.view__content {
  padding: 1rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
