html {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  max-width: 2450px;
  margin: 0 auto;
}
.anchor {
  scroll-margin-top: 5rem;
}
body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100dvh;
}

a {
  all: unset;
  cursor: pointer;
  width: fit-content;
}

a:hover {
  color: #c12a15;
}

a.active {
  font-weight: 600;
  text-decoration: underline;
}

.view__content {
  padding: 1rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page {
  display: flex;
  gap: 4rem;
}

.page .page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.gallery-view {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.gallery-view h3 {
  font-weight: 500;
}

.gallery-view__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-image__container {
  display: flex;
  gap: 3rem;
  padding: 0 0 8rem;
  min-width: 14rem;
}

.page-image__image-wrap {
  max-width: 65rem;
}

.page-image__image {
  width: 100%;
}

.page-image__description {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
}

@media (max-width: 1200px) {
  .view__content {
    padding: 1rem 1.8rem 5rem;
  }
  body {
    font-size: 0.9rem;
  }
  .gallery-view {
    gap: 2rem;
  }
  .page-image__container {
    gap: 2rem;
    padding: 0 0 6rem;
  }
  .page-image__image-wrap {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .page-image__container {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 0.8rem;
  }
  .page {
    gap: 3rem;
  }
  .page-image__container {
    gap: 1rem;
    padding: 0 0 3rem;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 0.6rem;
  }
  .view__content {
    padding: 1rem 1rem 5rem;
  }
  .page {
    gap: 1.2rem;
  }
}
