.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 3rem;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .footer {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .footer {
    font-size: 0.6rem;
  }
}
