.page-image__container {
  display: flex;
  gap: 3rem;
  padding: 0 0 8rem;

  .page-image__image-wrap {
    width: 65rem;
    min-height: 30rem;
  }

  .page-image__image {
    width: 100%;
  }

  .page-image__description {
    display: flex;
    flex-direction: column;
    width: 14rem;
  }
}
@media (max-width: 1500px) {
  .page-image__container {
    .page-image__image-wrap {
      width: 40rem;
      min-height: 20rem;
    }
  }
}

@media (max-width: 1000px) {
  .page-image__container {
    flex-direction: column;
  }
}
