.page-image__container {
  display: flex;
  gap: 3rem;
  padding: 0 0 8rem;

  .page-image__image-wrap {
    width: 65rem;
  }

  .page-image__image {
    width: 100%;
  }

  .page-image__description {
    display: flex;
    flex-direction: column;
    width: 14rem;
  }
}
@media (max-width: 1200px) {
  .page-image__container {
    gap: 2rem;
    padding: 0 0 6rem;

    .page-image__image-wrap {
      width: 100%;
    }
  }
}
@media (max-width: 900px) {
  .page-image__container {
    gap: 1rem;
    padding: 0 0 3rem;
    flex-direction: column;
  }
}
