.gallery-view {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.gallery-view h3 {
  font-weight: 500;
}

.gallery-view__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .gallery-view {
    gap: 2rem;
  }
}
