.page {
  display: flex;
  gap: 4rem;

  .page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

@media (max-width: 900px) {
  .page {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .page {
    gap: 1.2rem;
  }
}
