.gallery-view {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.gallery-view h3 {
  font-weight: 500;
}

.gallery-view__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
